.cart_container {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 122px;
  padding-right: 122px;
}

.subscribe {
  top: 0px;
}

.footer {
  top: 0px;
}

.cart_form {
  margin-bottom: 65px;
}
.cart_form .checkout {
  display: flex;
}
.cart_form .checkout .checkout_left {
  background: #3F5D45;
  width: 460px;
  height: 577px;
}
.cart_form .checkout .checkout_left .checkout_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
.cart_form .checkout .checkout_left .checkout_title h2 {
  font: normal normal 600 36px/50px PingFang TC;
  color: #EAF0ED;
}
.cart_form .checkout .checkout_left .checkout_title .checkout_status {
  border: 1px solid #EAF0ED;
  width: 45%;
  height: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart_form .checkout .checkout_left .checkout_title .checkout_status .ball_1 {
  border: 1px solid #EAF0ED;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #3F5D45;
  position: relative;
  transform: translateX(-1px);
}
.cart_form .checkout .checkout_left .checkout_title .checkout_status .ball_1::before {
  content: "";
  border: 1px solid #EAF0ED;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #EAF0ED;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4px;
}
.cart_form .checkout .checkout_left .checkout_title .checkout_status .ball_2 {
  border: 1px solid #EAF0ED;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #3F5D45;
}
.cart_form .checkout .checkout_left .checkout_title .checkout_status .ball_3 {
  border: 1px solid #EAF0ED;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #3F5D45;
  position: relative;
  transform: translateX(1px);
}
.cart_form .checkout .checkout_left .checkout_form .form_up {
  height: calc(100% - 24px);
  padding: 0px 40px 30px 40px;
}
.cart_form .checkout .checkout_left .checkout_form .form_up label {
  display: inline-block;
  color: #EAF0ED;
  font: normal normal 600 20px/28px PingFang TC;
  width: 49%;
}
.cart_form .checkout .checkout_left .checkout_form .form_up input {
  display: block;
  width: 100%;
  border-width: 0px;
  box-sizing: border-box;
  height: 56px;
  margin-top: 8px;
  font: normal normal 300 16px/28px PingFang TC;
  color: #8DA291;
  background-color: #EAF0ED;
  padding-left: 20px;
}
.cart_form .checkout .checkout_left .checkout_form .form_up .firstName_label {
  position: relative;
  left: 1%;
}
.cart_form .checkout .checkout_left .checkout_form .form_up .phoneNumber_area {
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart_form .checkout .checkout_left .checkout_form .form_up .phoneNumber_area .phoneNumber_label {
  width: 100%;
}
.cart_form .checkout .checkout_left .checkout_form .form_up .address_area .address_label {
  display: block;
}
.cart_form .checkout .checkout_left .checkout_form .form_up .address_area select {
  width: 49%;
  border-width: 0px;
  box-sizing: border-box;
  height: 56px;
  font: normal normal 300 16px/28px PingFang TC;
  color: #8DA291;
  background-color: #EAF0ED;
  padding-left: 16px;
}
.cart_form .checkout .checkout_left .checkout_form .form_up .address_area .select_town {
  position: relative;
  left: 1%;
}
.cart_form .checkout .checkout_left .checkout_form .next {
  width: 100%;
  border-width: 0px;
  box-sizing: border-box;
  height: 65px;
  font: normal normal 600 24px/28px PingFang TC;
  color: #3F5D45;
}
.cart_form .checkout .checkout_left .checkout_form .next:hover {
  background-color: #ffe180;
}
@media (max-width: 300px) {
  .cart_form .checkout .checkout_left {
    height: unset;
  }
  .cart_form .checkout .checkout_left .checkout_form .form_up label {
    width: 100%;
  }
  .cart_form .checkout .checkout_left .checkout_form .form_up .firstName_label {
    left: 0%;
  }
  .cart_form .checkout .checkout_left .checkout_form .form_up .address_area .select_country {
    width: 100%;
    left: 0%;
    margin-bottom: 8px;
  }
  .cart_form .checkout .checkout_left .checkout_form .form_up .address_area .select_town {
    width: 100%;
    left: 0%;
  }
}
.cart_form .checkout .checkout_right {
  margin-left: 20px;
  width: 300px;
}
.cart_form .checkout .checkout_right .cart_summary {
  width: 100%;
  height: 193px;
}
.cart_form .checkout .checkout_right .cart_summary .sum_title {
  width: 100%;
  height: 65px;
  background-color: #EAF0ED;
  text-align: center;
  font: normal normal 600 24px/65px PingFang TC;
  color: #8DA291;
}
.cart_form .checkout .checkout_right .cart_summary .sum_content {
  border: 1px solid #EAF0ED;
  padding: 16px 20px;
  height: 128px;
}
.cart_form .checkout .checkout_right .cart_summary .sum_content .sum_price_table {
  width: 100%;
  height: 100%;
}
.cart_form .checkout .checkout_right .cart_summary .sum_content .sum_price_table tr td {
  font: normal normal 300 16px/20px PingFang TC;
  color: #8DA291;
}
.cart_form .checkout .checkout_right .cart_summary .sum_content .sum_price_table tr .td_price {
  text-align: right;
}
.cart_form .checkout .checkout_right .cart_summary .sum_content .sum_price_table .table_tr3 td {
  font: normal normal 600 20px/20px PingFang TC;
  color: #8DA291;
  vertical-align: bottom;
}
.cart_form .checkout .checkout_right .cart_list {
  margin-top: 20px;
}
.cart_form .checkout .checkout_right .cart_list .list_title {
  width: 100%;
  height: 65px;
  background-color: #EAF0ED;
  text-align: center;
  font: normal normal 600 24px/65px PingFang TC;
  color: #8DA291;
}
.cart_form .checkout .checkout_right .cart_list .list_content {
  border: 1px solid #EAF0ED;
  padding: 16px 20px;
}
.cart_form .checkout .checkout_right .cart_list .list_content .list_item {
  display: flex;
  align-items: center;
}
.cart_form .checkout .checkout_right .cart_list .list_content .list_item img {
  width: 120px;
  height: 80px;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart_form .checkout .checkout_right .cart_list .list_content .list_item .list_info {
  display: inline-block;
  margin: auto;
  font: normal normal 300 16px/20px PingFang TC;
  color: #8DA291;
}
.cart_form .checkout .checkout_right .cart_list .list_content .list_item .list_info .info_price {
  font: normal normal 600 20px/20px PingFang TC;
}
.cart_form .checkout .checkout_right .cart_list .list_content .list_item2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (max-width: 1000px) {
  .cart_form .checkout .checkout_right .cart_list .list_content .list_item img {
    width: 90px;
    height: 60px;
  }
  .cart_form .checkout .checkout_right .cart_list .list_content .list_item .list_info {
    font-size: 14px;
  }
  .cart_form .checkout .checkout_right .cart_list .list_content .list_item .list_info .info_price {
    font-size: 16px;
  }
}
@media (max-width: 900px) {
  .cart_form .checkout .checkout_right .cart_list .list_content .list_item img {
    width: 75px;
    height: 50px;
  }
  .cart_form .checkout .checkout_right .cart_list .list_content .list_item .list_info {
    font-size: 12px;
  }
  .cart_form .checkout .checkout_right .cart_list .list_content .list_item .list_info .info_price {
    font-size: 14px;
  }
}
@media (max-width: 770px) {
  .cart_form .checkout .checkout_right {
    display: none;
  }
}

@media (max-width: 770px) {
  .cart_form {
    margin-bottom: 0;
  }
  .cart_form .checkout {
    padding: 0;
  }
  .cart_form .checkout .checkout_left {
    width: 100%;
  }
}/*# sourceMappingURL=cartStyle.css.map */