.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 42px;
  padding-right: 42px;
}

.footer_container {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 122px;
  padding-right: 122px;
}

@media (max-width: 770px) {
  .container {
    padding: 0px;
  }
  .footer_container {
    max-width: 1024px;
    padding: 30px;
  }
}
.header .logo {
  width: 220px;
}
.header .navbar {
  display: inline-block;
}
.header .navbar ul li {
  display: inline-block;
  width: 70px;
  font: normal normal 600 16px/73px PingFang TC;
  color: #3F5D45;
}
.header .cart {
  width: 24px;
}
.header .headerInner {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.header .headerInner .right {
  display: flex;
  align-items: center;
}

@media (max-width: 770px) {
  .header .headerInner {
    justify-content: space-around;
  }
  .header .headerInner .navbar_m {
    width: 18px;
    height: 24px;
  }
  .header .headerInner .logo_m {
    width: 114px;
  }
  .header .headerInner .right .cart {
    width: 32px;
  }
}
.banner {
  overflow: hidden;
  font-size: 0;
}
.banner .mainVisual {
  width: 940px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 770px) {
  .banner .mainVisual {
    width: 770px;
  }
}
.topic {
  position: relative;
  top: -85.3333333333px;
}
.topic .topicInner {
  display: flex;
  justify-content: center;
}
.topic .topicInner .cardwrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.topic .topicInner .cardwrapper.cardimage1 {
  background-image: url(../img/mainSorting1.png);
}
.topic .topicInner .cardwrapper.cardimage2 {
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-image: url(../img/mainSorting2.png);
}
.topic .topicInner .cardwrapper.cardimage3 {
  background-image: url(../img/mainSorting3.png);
}
.topic .topicInner .card {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  background-color: rgba(63, 93, 69, 0.8156862745);
  color: white;
  letter-spacing: 4px;
}
.topic .topicInner .card:hover {
  background-color: rgba(255, 225, 128, 0.8156862745);
  color: #3F5D45;
}

@media (max-width: 770px) {
  .topic .topicInner .cardwrapper {
    width: 100%;
  }
  .topic .topicInner .cardwrapper .card {
    width: 100%;
  }
}
.product1 .productBackground {
  background-color: #EAF0ED;
  height: 420px;
}
.product1 .productBackground .productInner {
  height: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product1 .productBackground .productInner .product1_image {
  position: relative;
  width: 460px;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product1 .productBackground .productInner p {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font: normal normal 300 16px/18px PingFang TC;
  letter-spacing: 0px;
  color: #8DA291;
  height: 280px;
}
@media (min-width: 800px) {
  .product1 .productBackground .productInner p {
    line-height: 20px;
  }
}
@media (min-width: 850px) {
  .product1 .productBackground .productInner p {
    line-height: 30px;
  }
}
@media (min-width: 950px) {
  .product1 .productBackground .productInner p {
    line-height: 35px;
  }
}
.product1 .productBackground .productInner .product1_title {
  position: relative;
  width: 89px;
  top: -75px;
}

@media (max-width: 770px) {
  .product1 {
    position: relative;
    top: 120px;
  }
  .product1 .productBackground {
    height: unset;
  }
  .product1 .productBackground .productInner {
    height: unset;
    display: block;
  }
  .product1 .productBackground .productInner .product1_title_m {
    width: 196px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
  }
  .product1 .productBackground .productInner .product1_image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: -60px;
    height: unset;
    aspect-ratio: 4/3;
  }
  .product1 .productBackground .productInner p {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    height: unset;
    padding: 30px;
    position: relative;
    top: -30px;
    line-height: 30px;
  }
}
.product2 {
  position: relative;
  top: 105px;
}
.product2 .productBackground {
  background-color: #EAF0ED;
  height: 420px;
}
.product2 .productBackground .productInner {
  height: 420px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product2 .productBackground .productInner .product2_image {
  position: relative;
  width: 460px;
  height: 460px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product2 .productBackground .productInner p {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font: normal normal 300 16px/18px PingFang TC;
  letter-spacing: 0px;
  color: #8DA291;
  height: 280px;
}
@media (min-width: 800px) {
  .product2 .productBackground .productInner p {
    line-height: 20px;
  }
}
@media (min-width: 850px) {
  .product2 .productBackground .productInner p {
    line-height: 30px;
  }
}
@media (min-width: 950px) {
  .product2 .productBackground .productInner p {
    line-height: 35px;
  }
}
.product2 .productBackground .productInner .product2_title {
  position: relative;
  width: 89px;
  top: -75px;
}

@media (max-width: 770px) {
  .product2 {
    top: 240px;
  }
  .product2 .productBackground {
    height: unset;
  }
  .product2 .productBackground .productInner {
    height: unset;
    display: block;
  }
  .product2 .productBackground .productInner .product2_title_m {
    width: 196px;
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
  }
  .product2 .productBackground .productInner .product2_image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    top: -60px;
    height: unset;
    aspect-ratio: 4/3;
  }
  .product2 .productBackground .productInner p {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    height: unset;
    padding: 30px;
    position: relative;
    top: -30px;
    line-height: 30px;
  }
}
.slogan {
  position: relative;
  top: 200px;
}
.slogan .slogan_image {
  width: 95px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 770px) {
  .slogan {
    top: 270px;
  }
  .slogan .slogan_image_m {
    width: 196px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.productCard_advise {
  position: relative;
  top: 280px;
}
.productCard_advise .productCard_inner {
  display: flex;
  justify-content: space-between;
}
.productCard_advise .productCard_inner .productCard2 {
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.productCard_advise .productCard_inner .productCard .productCard_visual {
  position: relative;
}
.productCard_advise .productCard_inner .productCard .productCard_visual p {
  position: absolute;
  top: 0px;
  left: 20px;
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  background-color: #3F5D45;
  font: normal normal 600 16px/36px PingFang TC;
  letter-spacing: 0px;
  color: #EAF0ED;
  width: 36px;
  height: 107px;
  text-align: center;
}
@media (max-width: 900px) {
  .productCard_advise .productCard_inner .productCard .productCard_visual p {
    left: 15px;
    font-size: 14px;
    width: 32px;
    height: 90px;
    line-height: 32px;
  }
}
.productCard_advise .productCard_inner .productCard .productCard_visual .heart {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
}
.productCard_advise .productCard_inner .productCard .productCard_visual .productCard_image {
  width: 100%;
  max-height: 315px;
  -o-object-fit: cover;
     object-fit: cover;
}
.productCard_advise .productCard_inner .productCard .productCard_text {
  display: flex;
  position: relative;
  top: -5px;
}
.productCard_advise .productCard_inner .productCard .productCard_text .productCard_name {
  font: normal normal 300 20px/54px PingFang TC;
  color: #3F5D45;
  border: 1px solid #EAF0ED;
  width: 100%;
  text-align: center;
}
.productCard_advise .productCard_inner .productCard .productCard_text .productCard_price {
  font: normal normal 600 20px/54px PingFang TC;
  color: #3F5D45;
  border: 1px solid #EAF0ED;
  width: 100%;
  text-align: center;
}
@media (max-width: 900px) {
  .productCard_advise .productCard_inner .productCard .productCard_text .productCard_name {
    font-size: 16px;
    line-height: 42px;
  }
  .productCard_advise .productCard_inner .productCard .productCard_text .productCard_price {
    font-size: 16px;
    line-height: 42px;
  }
}
.productCard_advise .productCard_inner .productCard .addToCart {
  width: 100%;
  border: 1px solid #EAF0ED;
  position: relative;
  top: -6px;
  font: normal normal 600 24px/54px PingFang TC;
  color: #3F5D45;
  background: #EAF0ED;
  text-align: center;
}
.productCard_advise .productCard_inner .productCard .addToCart:hover {
  background-color: rgba(255, 225, 128, 0.8156862745);
}
@media (max-width: 900px) {
  .productCard_advise .productCard_inner .productCard .addToCart {
    font-size: 16px;
    line-height: 42px;
  }
}

@media (max-width: 770px) {
  .productCard_advise .productCard_inner .productCard {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
  }
  .productCard_advise .productCard_inner .productCard .productCard_visual .productCard_image {
    max-height: unset;
  }
}
.subscribe {
  position: relative;
  top: 340px;
}
.subscribe .sub_background {
  background-color: #3F5D45;
}
.subscribe .sub_background .sub_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 116px;
}
.subscribe .sub_background .sub_inner .sub_left {
  display: flex;
  align-items: center;
  width: 50%;
}
.subscribe .sub_background .sub_inner .sub_left .sub_logo {
  width: 40px;
}
.subscribe .sub_background .sub_inner .sub_left p {
  font: normal normal normal 24px/24px Helvetica Neue;
  color: #EAF0ED;
  position: relative;
  left: 10px;
}
@media (max-width: 830px) {
  .subscribe .sub_background .sub_inner .sub_left .sub_logo {
    width: 30px;
  }
  .subscribe .sub_background .sub_inner .sub_left p {
    font-size: 24px;
  }
}
.subscribe .sub_background .sub_inner .sub_right {
  display: flex;
  align-items: center;
  background-color: #EAF0ED;
  height: 60px;
  width: 50%;
}
.subscribe .sub_background .sub_inner .sub_right .mailLogo {
  margin-left: 20px;
  margin-right: 10px;
}
.subscribe .sub_background .sub_inner .sub_right input {
  border: none;
  outline: none;
  background-color: #EAF0ED;
  height: 60px;
  padding: 0px;
  width: 70%;
}
@media (max-width: 900px) {
  .subscribe .sub_background .sub_inner .sub_right input {
    width: 100% px;
  }
}
.subscribe .sub_background .sub_inner .sub_right .arrow_background {
  position: relative;
  left: 5px;
  width: 60px;
  height: 60px;
  background-color: #FFE180;
}
.subscribe .sub_background .sub_inner .sub_right .arrow_background .arrow {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 770px) {
  .subscribe .sub_background .sub_inner {
    display: block;
    height: unset;
  }
  .subscribe .sub_background .sub_inner .sub_left {
    margin-bottom: 30px;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 770px) and (max-width: 315px) {
  .subscribe .sub_background .sub_inner .sub_left .sub_logo {
    width: 24px;
  }
  .subscribe .sub_background .sub_inner .sub_left p {
    font-size: 20px;
    left: 5px;
  }
}
@media (max-width: 770px) and (max-width: 270px) {
  .subscribe .sub_background .sub_inner .sub_left .sub_logo {
    width: 20px;
  }
  .subscribe .sub_background .sub_inner .sub_left p {
    font-size: 16px;
    left: 5px;
  }
}
@media (max-width: 770px) {
  .subscribe .sub_background .sub_inner .sub_right {
    width: 100%;
    height: unset;
    max-height: 60px;
  }
  .subscribe .sub_background .sub_inner .sub_right .mailLogo {
    margin-left: 10px;
    margin-right: 5px;
  }
  .subscribe .sub_background .sub_inner .sub_right input {
    height: 100%;
    width: 90%;
  }
  .subscribe .sub_background .sub_inner .sub_right .arrow_background {
    width: 60px;
    height: 60px;
  }
}
.footer {
  position: relative;
  top: 340px;
}
.footer .footer_background {
  background-color: #EAF0ED;
}
.footer .footer_background .footer_inner {
  height: 341px;
}
.footer .footer_background .footer_inner .footer_left {
  display: inline-block;
  position: absolute;
  top: 30px;
}
.footer .footer_background .footer_inner .footer_left .footer_logo {
  width: 171px;
}
.footer .footer_background .footer_inner .footer_left .footer_info {
  font: normal normal normal 16px/24px Helvetica Neue;
  color: #3F5D45;
  position: relative;
  top: 115px;
}
.footer .footer_background .footer_inner .footer_left .line {
  width: 32px;
  position: relative;
  top: 145px;
}
.footer .footer_background .footer_inner .footer_left .fb {
  width: 32px;
  position: relative;
  top: 145px;
}
.footer .footer_background .footer_inner .footer_right {
  position: relative;
  top: 30px;
  left: 100%;
  transform: translateX(-100%);
  display: inline-block;
}
.footer .footer_background .footer_inner .footer_right .footer_title {
  width: 59px;
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}
.footer .footer_background .footer_inner .footer_right .copyright {
  font: normal normal normal 16px/19px Times;
  color: #3F5D45;
  position: relative;
  top: 40px;
}

@media (max-width: 770px) {
  .footer .footer_background .footer_inner {
    height: unset;
  }
  .footer .footer_background .footer_inner .footer_left {
    display: block;
    position: unset;
    top: unset;
  }
  .footer .footer_background .footer_inner .footer_left .footer_logo {
    position: unset;
    top: unset;
    margin-top: 8px;
    width: unset;
    max-width: 200px;
  }
  .footer .footer_background .footer_inner .footer_left .footer_info {
    position: unset;
    top: unset;
    margin-top: 38px;
  }
}
@media (max-width: 770px) and (max-width: 320px) {
  .footer .footer_background .footer_inner .footer_left .footer_info {
    font-size: 12px;
  }
}
@media (max-width: 770px) {
  .footer .footer_background .footer_inner .footer_left .line {
    position: unset;
    top: unset;
    margin-top: 30px;
  }
}
@media (max-width: 770px) {
  .footer .footer_background .footer_inner .footer_left .fb {
    position: unset;
    top: unset;
    margin-top: 30px;
  }
}
@media (max-width: 770px) {
  .footer .footer_background .footer_inner .footer_right {
    display: block;
    position: unset;
    top: unset;
    transform: unset;
  }
  .footer .footer_background .footer_inner .footer_right .copyright {
    position: unset;
    top: unset;
    margin-top: 30px;
  }
}
@media (max-width: 770px) and (max-width: 320px) {
  .footer .footer_background .footer_inner .footer_right .copyright {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */